.img-fullwidth {
    width: 100% !important;
}

.about_conth {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    span {
        color: $b-color;
    }
}

.about_conth:after {
    content: ' ';
    width: 60px;
    height: 3px;
    background: $b-color;
    display: block;
    margin-top: 5px;
    margin-left: 1px;
}

.about_contp {
    padding: 5px 10px 5px 10px;
    line-height: 30px;
    text-align: left;
    font-size: 17px;
    color: grey;
}


/* This is the section for  news blogs */

.focus {
    background: #000;
}

.focus_con h2 {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $b-color;
    span {
        color: #fff;
    }
}

.focus_con h2:after {
    content: ' ';
    width: 60px;
    height: 3px;
    background: $b-color;
    display: block;
    margin-top: 5px;
    margin-left: 1px;
}

.w_box_focus {
    background: #fff;
    padding: 15px 10px;
}

.w_box_focus h4 {
    color: $b-color;
    font-size: 26px;
    font-weight: 700;
    padding: 5px 7px;
}

.w_box_focus p {
    color: grey;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 7px;
}

.w_box_focus .w_b_btn {
    margin: 5px 7px;
    padding: 7px 18px;
    background: $b-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    &:hover {
        background: $b-color;
    }
}


/* This is the section for  news blogs */


/*This is the section for publising */

.pub_m_con h2 {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    span {
        color: $b-color;
    }
}

.pub_m_con h2:after {
    content: ' ';
    width: 60px;
    height: 3px;
    background: $b-color;
    display: block;
    margin-top: 5px;
    margin-left: 1px;
}

.pub_m_box {
    background: rgba(0, 0, 0, 0.1) !important;
    padding: 5px;
    h5 {
        padding: 10px 10px;
        font-size: 15px;
    }
}


/*This is the section for publising */


/* This is the css for counter */